body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e60023;
    color: #fff;
    padding: 1px;
    text-align: center;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px; /* Ajusta el espacio interno del contenedor */
}

.card {
    flex: 0 0 calc(50% - 10px); /* Establece que cada ítem ocupe el 50% del ancho del contenedor con margen */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px; /* Ajusta el margen inferior según tu preferencia */
    margin-right: 5px; /* Añade margen derecho */
}

.card:nth-child(2n) {
    margin-right: 0; /* Elimina el margen derecho del segundo ítem de cada fila */
}

.card img {
    width: 100%;
    height: auto; /* Para mantener la proporción de aspecto */
    object-fit: cover;
    display: block;
}

.download-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 10px; /* Aumentar el padding para hacer el icono más grande */
    cursor: pointer;
}

.download-icon::after {
    content: "\2B07";
    font-size: 16px; /* Ajustar el tamaño de la flecha */
}

.description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    text-align: center;
}

.search-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 8px 16px; /* Ajustar el espaciado interno */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); /* Sutil sombra */
    z-index: 999;
    display: flex; /* Hacer que los elementos hijos se alineen horizontalmente */
    align-items: center; /* Centrar verticalmente los elementos hijos */
}

.search-container input[type="text"] {
    flex: 1; /* Hacer que el input ocupe todo el espacio disponible */
    border: none;
    outline: none;
    font-size: 16px;
    padding: 8px 12px; /* Ajustar el espaciado interno */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); /* Sutil sombra interior */
}

/* Estilos para el ícono de búsqueda (puedes cambiarlo por el que desees) */
.search-container .search-icon {
    margin-right: 8px; /* Espacio entre el ícono y el input */
}

.grid-container {
    margin-top: 60px; /* Ajustar la posición del contenido para evitar que se superponga con la barra de búsqueda */
}
